<!DOCTYPE html>
<html lang="zh" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>查看考试</title>
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/main.css" rel="stylesheet">
</head>
<body class="content">

<table id="table" class="table table-hover table-striped table-bordered table-condensed" hidden>
  <thead>
  <tr>
    <td v-for="thead_td in table.format">{{ thead_td }}</td>
  </tr>
  </thead>
  <tbody>
  <tr v-for="row in table.data">
    <td v-for="col in row">{{ col }}</td>
  </tr>
  </tbody>
</table>


<!-- JavaScript -->
<script src="../js/vue.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/leader.js"></script>
<script>
    root_get_table();
</script>
</body>
</html>
