<<<<<<< HEAD
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

a.signature {
    color: #0078d7;
}

body.content {
    padding: 20px;
}

td.grade-td input {
    width: 100%;
=======
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

a.signature {
    color: #0078d7;
}

body.content {
    padding: 20px;
}

td.grade-td input {
    width: 100%;
>>>>>>> a17e993498d63fb0898dac8d649c912f2b21d598
}